/* CSS Document */

* {
	margin:0px;
	padding:0px;
}

#brand {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:36px;
	background-color:#0088D4;
	color:#FFFFFF;
	text-align:center;
	height: 150px;

}

.header {
	width:100%;
	height:100%;
}

#nav{
	height: 40px;
	background-color:#000653;
	padding-left: 20px;
}

	/* Hyperlink Styles */
#nav a {
	float:left;
	width:7em;
	height:40px;
	text-decoration:none;
	color:#FFFFFF;
	background-color:#000653;
	padding-top:8px;
}

#nav a:hover {
	background-color:#040031;
	color:#C8C8C8;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
#nav ul{
	float:left;
	width:100%;
	padding:0px;
	margin:0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
	text-align:center;
	list-style-type:none;
}
#nav li {
	display:inline;
}
/* End of Hyperlink Styles */

h1 {
	font: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #A25AF1;
	font-size: 46px;
	padding-left: 20px;
	padding-bottom: 0.7em;
	text-align: center;
}

#brand h1 {
	color: #FFFFFF;
	font-size:80px;
}

#footer{
	position: fixed;
		padding-left:30px;
		padding-top:30px;
		left: 0px;
		bottom: 0px;
 		height: 70px;
		width: 100%;
		background-color: #000000;
    	border:1px solid #000000;
}

.text-center{
		text-align: center;;
		font-size: 28px;
		font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
		color: #A25AF1;
		padding-left: 20px
	}

table {
	border-collapse:collapse;
	width:80%;
	margin-left: auto;
	margin-right: auto;
	border: 1px;
}

td, th {
border: 0px solid #000;
}
